@media screen and (min-width: 651px) and (max-width: 900px) {
    section {
        text-align: center;
        /* justify-content: center; */
    }
    .section1{
        text-align: center;
    }
    .section2{
        text-align: center;
    }
    .section3 {
        grid-column: span 3;
    }
   

}