@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&display=swap');

@media screen and (max-width: 650px) {
    :root {
        --body_background_primary: rgb(255, 255, 255);
        --body_background_secondary: #7388a0;
        --body_background_tertiary: rgba(0, 0, 0);
        --button_background: black;

        --text_color_primary: white;
        --text_color_secondary: black;
        --link_color: #DE1A1A;
        --text_font_family_heading: 'Lobster', 'sans-serif';
        --text_font_family: 'Montserrat', 'sans-serif';
    }

    body {
        font-family: var(--text_font_family);
        text-align: center;
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--body_background_primary);
        background-size: cover;
        background-attachment: fixed;
    }

    header {
        position: relative;
        background-color: #7388a0;
        color: var(--text_color_primary);
        font-family: var(--text_font_family_heading);
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 999;
    }

    header h1 {
        padding-top: .3em;
        font-size: 25px;
        margin: 0;
        padding-bottom: 1em;
    }

    /* header h3 {
        font-size: 20px;
        margin: 0;
    } */

    nav {
        position: absolute;
        top: 0;
    }

    /* start of hambuger menu */
    #menu {
        display: block;
        font-size: 4em;
        font-weight: 700;
        text-decoration: none;
        background-color: transparent;
        color: #000;
        padding: 0;
        margin: 0;
    }

    #menu::before {
        content: "≡";
        margin: 0;
    }

    .navigation {
        list-style: none;
        margin: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    navigation a:active {
        color: white;
        background-color: black;
    }

    .show li {
        display: block;
        background-color: #7388a0;
        width: 100%;
    }

    #menu.show::before {
        content: "X";
        font-size: 30px;
        font-weight: 700;
        margin-left: 10px;
    }

    /* end */
    nav {
        font-family: var(--text_font_family);
    }

    header nav a:hover {
        background-color: var(--body_background_primary);
        color: var(--body_background_tertiary);
    }

    .video-hero {
        margin-top: 10px;
        width: 80vw;
    }

    .hero {
        position: relative;
    }

    .button-join {
        background-color: var(--body_background_secondary);
        color: var(--text_color_primary);
        padding: 8px;
        border-radius: 10px;
        border: none;
        font-family: var(--text_font_family_heading);
        font-size: 25px;
        position: absolute;
        left: 40%;
        top: 40%;
    }
    .button-join:hover{
        background-color: var(--body_background_primary);
        color: var(--body_background_tertiary);
    }
    a {
        text-decoration: none;
        list-style: none;
        color: var(--text_color_primary);
    }

    .section-home {
        background-color: var(--body_background_tertiary);
        color: var(--text_color_primary);
        /* width: 70vw;
        height: auto;
        margin: auto; */
        border-radius: 10px;
    }

    .section-home h2 {
        padding: 10px;
    }
    .section-home p{
        padding: 10px;
    }
    footer {
        display: block;
        background-color: var(--body_background_secondary);
        color: white;
        /* bottom: 0; */
    }
    footer p{
        padding: 10px;
    }
}