@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&display=swap');

/* @media screen and (max-width: 650px) { */
    :root {
        --light: rgb(255, 255, 255);
        --dark: rgb(121, 126, 126);
        --primary: #7388a0;
        --black: black;
        --white: white;

        --text_font_family_heading: 'Lobster', 'sans-serif';
        --text_font_family: 'Montserrat', 'sans-serif';
    }

    body {
        font-family: var(--text_font_family);
        text-align: center;
        width: 100vw;
        height: 100vh;
        background-color: var(--light);
        background-size: cover;
        background-attachment: fixed;
    }

    header {
        position: relative;
        background-color: var(--primary);
        color: var(--white);
        font-family: var(--text_font_family_heading);
        text-align: center;
        /* position: sticky; */
        top: 0;
        z-index: 999;
    }

    header h1 {
        padding-top: .3em;
        font-size: 25px;
        margin: 0;
        padding-bottom: 1em;
    }

    /* header h3 {
        font-size: 20px;
        margin: 0;
    } */

    nav {
        position: absolute;
        top: 0;
    }

    /* start of hambuger menu */
    #menu {
        display: block;
        font-size: 4em;
        font-weight: 700;
        text-decoration: none;
        background-color: transparent;
        color: var(--black);
        padding: 0;
        margin: 0;
    }

    #menu::before {
        content: "≡";
        margin: 0;
    }

    .navigation {
        list-style: none;
        margin: 0;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: var(--white);
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    navigation a:active {
        color: var(--white);
        background-color: black;
    }

    .show li {
        display: block;
        background-color: var(--primary);
        width: 100%;
    }

    #menu.show::before {
        content: "X";
        font-size: 30px;
        font-weight: 700;
        margin-left: 10px;
    }

    /* end */
    nav {
        font-family: var(--text_font_family);
    }

    header nav a:hover {
        background-color: var(--light);
        color: var(--dark);
    }

    /* start of Dark mode Button */
    .darkmode-button {
        position: absolute;
        right: 0;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
        /* margin-top: 20px; */
        background: #333;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: var(--text_font_family);
        border: solid #404C5D 1px;
        font-size: 20px;
        -webkit-transition: 500ms;
        transition: 500ms;
        border-radius: 5px;
        background: linear-gradient(145deg, #2e2d2d, #212121);
        -webkit-box-shadow: -1px -5px 15px #41465B, 
                     5px  5px 15px #41465B, 
          inset      5px  5px 10px #212121, 
          inset     -5px -5px 10px #212121;
        box-shadow: -1px -5px 15px #41465B, 
                     5px  5px 15px #41465B, 
          inset      5px  5px 10px #212121, 
          inset     -5px -5px 10px #212121;
      }
      
      .darkmode-button:hover {
        -webkit-box-shadow: 1px 1px 13px #20232e,
                          -1px -1px 13px #545b78;
        box-shadow: 1px 1px 13px #20232e,
                   -1px -1px 13px #545b78;
        color: #d6d6d6;
        -webkit-transition: 500ms;
        transition: 500ms;
      }
      
      .darkmode-button:active {
        -webkit-box-shadow: 1px 1px 13px #20232e,
                           -1px -1px 33px #545b78;
        box-shadow: 1px 1px 13px #20232e,
                   -1px -1px 33px #545b78;
        color: #d6d6d6;
        -webkit-transition: 100ms;
        transition: 100ms;
      }
    /* end of dark mode button */
    main{
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .video-hero {
        margin-top: 10px;
        width: 80vw;
    }

    .hero {
        position: relative;
    }

    .button-join {
        background-color: var(--primary);
        color: var(--white);
        padding: 8px;
        border-radius: 10px;
        border: none;
        font-family: var(--text_font_family_heading);
        font-size: 25px;
        position: absolute;
        left: 40%;
        top: 40%;
    }
    .button-join:hover{
        background-color: var(--light);
        color: var(--black);
    }
    a {
        text-decoration: none;
        list-style: none;
        color: var(--white);
    }

    .section-home {
        background-color: var(--dark);
        color: var(--white);
        border-radius: 10px;
        padding-bottom: 15px;
    }
    .section-home img{
        max-width: 30vw;
        border: 10px solid var(--white);
    }

    .section-home h2 {
        padding: 10px;
    }
    .section-home p{
        padding: 10px;
    }
    footer {
        background-color: var(--primary);
        color: var(--white);
        padding-bottom: 5px;

        /* bottom: 0; */
    }
    footer h3{
        padding-top: 5px;
    }
    footer p{
        font-size: 11px;
    }
    footer div{
        border-top: 3px solid var(--light);
    }
/* } */