@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&display=swap');

@media screen and (min-width: 1000px) {

    :root {
        --light: rgb(255, 255, 255);
        --dark: rgb(121, 126, 126);
        --primary: #7388a0;
        --black: black;
        --white: white;

        --text_font_family_heading: 'Lobster', 'sans-serif';
        --text_font_family: 'Montserrat', 'sans-serif';
    }

    body {
        font-family: var(--text_font_family);
        text-align: center;
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--light);
        background-size: cover;
        background-attachment: fixed;
    }

    header {
        display: block;
        background-color: var(--primary);
        color: var(--white);
        font-family: var(--text_font_family_heading);
        top: 0;
        padding-top: .3em;
        padding-bottom: .3em;
        z-index: 999;
    }

    header h1 {
        font-size: 45px;
        margin: 0;
    }

    nav {
        background-color: var(--primary);
        font-family: var(--text_font_family);
    }
    nav ul{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    nav ul li{
        text-decoration: none;
        list-style-type: none;
        padding: 10px;
        font-size: 25px;
        
    }

    header nav a:hover {
        background-color: var(--light);
        color: var(--dark);
    }

    .video-hero {
        margin-top: 10px;
        height: 40vh;
    }

    .hero {
        position: relative;
    }

    .button-join {
        background-color: var(--primary);
        color: var(--white);
        padding: 15px;
        border-radius: 10px;
        border: none;
        font-family: var(--text_font_family_heading);
        font-size: 40px;
        position: absolute;
        left: 45%;
        top: 40%;
    }
    .button-join:hover{
        background-color: var(--light);
        color: var(--dark);
    }

    a {
        text-decoration: none;
        list-style: none;
        color: var(--white);
    }

    .section-home {
        background-color: var(--dark);
        color: var(--white);
        width: 50vw;
        height: auto;
        margin: auto;
        border-radius: 10px;
    }

    .section-home h2 {
        padding: 10px;
    }
    .section-home p{
        padding: 10px;
    }

    footer {
        background-color: var(--primary);
        color: var(--white);
        padding-bottom: 5px;

        /* bottom: 0; */
    }
    footer h3{
        padding-top: 5px;
    }
    footer p{
        font-size: 11px;
    }
    footer div{
        border-top: 3px solid var(--light);
    }
}