@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap');

@media screen and (max-width: 650px) {
    :root {
        --blue: #227c9d;
        --aqua: #17c3b2;
        --cream: #fdfcdc;
        --pink: #fe6d73;
        --orange: #ffcb77;
        --grey: #AEAEAD;
        --black: #000000;
        --white: white;

        --display: Yellowtail;
        --text: Lato;
    }

    /* general */
    section {
        border: 5px solid var(--cream);
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        font-family: var(--text);
        color: white;
        margin-bottom: 1em;
    }

    section h1 {
        font-family: var(--display);
        /* text-decoration: underline; */
        color: var(--white);
        padding: 5px;
        border-radius: 15px;
        width: 60%;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        list-style: none;
        color: var(--white);
    }

    /* specific */
    body {
        background-color: var(--blue);
    }

    /* Header*/
    .header {
        background-color: var(--cream);
        display: block;
        display: grid;
        grid-template-columns: 0.5fr repeat(5, 1fr);
    }

    .header img {
        grid-column: 2/ span 1;
        margin-top: 10%;
    }

    header h1 {
        grid-column: 3/ span 5;
        grid-row: 1;
        font-size: 35px;
        font-family: var(--display);
        text-align: center;
        margin-right: 25%;
    }

    /* End of Header */

    /* nav */
    #menu {
        grid-column: 1/span 1;
        display: block;
        font-size: 4em;
        font-weight: 700;
        text-decoration: none;
        background-color: transparent;
        color: var(--black);
        padding: 0;
        margin: 0;
        border: none;
    }

    .navigation li {
        display: none;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    .show li {
        display: block;
        border-radius: 20px;
        width: 100%;
        padding-bottom: 2px;
    }

    .navigation a:hover,
    .navigation a:active {
        color: var(--white);
        background-color: var(--black);
        border-radius: 10px;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: var(--black);
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation .show {
        background-color: var(--cream);
    }

    header nav a:hover {
        background-color: var(--white);
        color: var(--black);
    }

    .navigation ul {
        margin-bottom: 0;
        font-family: var(--text);
    }

    /* End of Nav */

    /* Main */
    main {
        margin-right: 5%;
        margin-left: 5%;
    }

    /* hero */
    .hero-container {
        display: grid;
        width: 100%;
        justify-items: center;
        margin-bottom: 1em;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }

    .order-button {
        position: absolute;
        margin-top: 110px;
        background-color: var(--cream);
        color: var(--black);
        padding: 8px;
        border-radius: 10px;
        border: none;
        font-family: var(--display);
        font-size: 25px;
        border: 2px solid var(--black);
    }

    .specialty-drinks-home{
        color: var(--black);
    }

    #specialty-heading{
       color: var(--black);
       border-bottom: 1px solid var(--black);
       border-radius: 0;
    }

    .specialty-drink-background{
        background-image: url('../images/oranges-banner.webp');
        background-size: cover;
        background-position: center;
        width: 80%;
        margin: 0 auto;
    }

    .specialty-drinks-container{
        background-color: rgba(255, 255, 255, 0.842);
        border-radius: 10px;
        padding-bottom: 10px;
        width: 60%;
        margin: 0 auto;
    }

    /* End of Hero */

    .summary h1 {
        background-color: #ffcb77;
        color: black;
        width: 90%;
        text-decoration: none;
        padding: 15px;
        margin-bottom: 10px;
    }

    .summary p {
        font-size: 20px;
    }

    .summary p:nth-child(1) {
        padding-bottom: 10px;
        border-bottom: 2px solid var(--orange);
    }

    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: var(--aqua); */
    }

    .weather h1 {
        grid-column: 1/span 2;
        color: var(--black);
        background-color: var(--cream);
    }

    .weather p {
        font-weight: var(--text);
        font-size: 25px;
    }

    .weather img,
    .forecast img {
        margin: 0 auto;
        /* border: 2px solid var(--white); */
        border-radius: 15px;
        padding: 10px;
        /* background-color: var(--aqua); */
        height: 90px;
    }

    .forecast-container {
        border: none;
    }

    .forecast-container h1 {
        background-color: var(--orange);
        color: black;
        width: 90%;
        text-decoration: none;
        padding: 15px;
        margin-bottom: 10px;
    }

    .forecast div {
        margin: 0 auto;
        display: grid;
        max-width: 300px;
        grid-template-columns: 1fr 1fr;
        /* background-color: var(--aqua); */
        border: 5px solid var(--cream);
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        font-family: var(--text);
        color: white;
        margin-bottom: 1em;
    }

    .forecast h3 {
        grid-column: 1/span 2;
        color: var(--black);
        background-color: var(--cream);
        font-family: var(--display);
        border-radius: 15px;
    }


    /* order form */

    .order-body{
        margin: 0;
    }

    .order-page-main{
        display: grid;
    }

    .custom-text{
        font-family: var(--display);
        color: var(--cream);
        /* padding: 15px; */
        border-radius: 10px;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .custom-text h1{
        font-size: 3rem;
        margin: 0;
    }
    .custom-text h2{
        font-size: 4em;
        margin: 0;
    }

    .background-div {
        background-image: url('../images/fruit-pile.webp');
        background-size: cover;
        background-position: center;
        /* width: 60%; */
        margin: 0 auto;
    }

    .order-page-main section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #orderForm {
        font-family: var(--text);
        max-width: 70%;
        text-align: left;
        padding: 10px;
        max-width: min-content;
        background-color: rgba(255, 255, 255, 0.917);
        color: var(--black);
    }

    #orderForm input{
        border-radius: 15px;
        border: 1px solid var(--black);
        margin-bottom: 15px;
    }

    #selectOption1{
        font-family: var(--text);
        border: 1px solid var(--black);
        border-radius: 10px;
        margin-bottom: 1em;
    }

    #selectOption2{
        font-family: var(--text);
        border: 1px solid var(--black);
        border-radius: 10px;
        margin-bottom: 1em;
    }

    #selectOption3{
        font-family: var(--text);
        border: 1px solid var(--black);
        border-radius: 10px;
        margin-bottom: 1em;
    }

    #specialInstructions{
        max-width: 300px;
    }

    #submit-order{
        font-family: var(--display);
        background-color: var(--orange);
        border-style: none;
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        width: 100%;
    }

    /* confirmation */

    .confirmation-main{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: var(--text);
    }

    #confirmationName{
        font-family: var(--display);
        color: var(--cream);
        border-bottom: 1px solid var(--black);
    }

    .confirmation-info{
        color: var(--white);
    }

    #details-heading{
        background-color: var(--orange);
        padding: 10px;
        border-radius: 15px;
    }

    .confirmation-details{
        background-color: rgba(255, 255, 255, 0.937);
        padding: 10px;
        border-top: 2px dotted var(--black);
        margin-bottom: 1em;
        color: var(--black);
    }

    .confirmation-details h3{
        border-top: 2px solid var(--black);
        border-bottom: 2px solid var(--black);
    }

    .about-main{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 20px;

    }

    .about-main section h2{
        font-family: var(--display);
        background-color: var(--orange);
        color: var(--black);
        padding: 5px;

    }

    .about-main .california-water{
        width: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    .california-water-img{
        max-width: 80%;
    }

    .about-main .california-street{
        width: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    .california-street-img{
        max-width: 80%;
    }

    .about-map{
        margin-top: 1em;
        width: 90%;
    }

    .about-section4{
        width: 80%;
        margin: 0 auto;
    }

    .about-section4 h2{
        font-family: var(--display);
        background-color: var(--orange);
        color: var(--black);
        padding: 5px;
    }

    .resource-main{
        text-align: center;
        background-color: var(--white);
        max-width: 80%;
        height: 45vh;
        margin: 0 auto;
    }

    .resource-links{
        font-family: var(--text);
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.858);
        height: 40vh;
        max-width: 60%;
        margin: 0 auto;
    }

    .resource-links h1{
        font-family: var(--display);
    }

    .resource-links a{
        padding: 15px;
        font-family: var(--text);
        color: var(--black);
    }


    footer {
        margin-top: 1em;
        display: grid;
        align-items: center;
        justify-items: center;
        font-family: var(--text);
        color: var(--white);
        border-top: 2px solid var(--cream);
        padding: 10px;
    }

    .social-media-links {
        margin-top: 10px;
    }

    .contact-info {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .contact-info h2 {
        margin: 0;
        padding: 5px;
    }

    .contact-info p {
        margin: 0;
        padding: 5px;
    }

    .resources {
        padding: 10px;
        background-color: var(--cream);
        color: black;
        border-radius: 15px;
    }

    /* End of Main */
}