@media screen and (min-width: 651px) and (max-width: 1000px) {

    :root {
        --blue: #227c9d;
        --aqua: #17c3b2;
        --cream: #fdfcdc;
        --pink: #fe6d73;
        --orange: #ffcb77;
        --grey: #AEAEAD;
        --black: #000000;
        --white: white;

        --display: Yellowtail;
        --text: Lato;
    }

    /* general */
    section {
        border: 5px solid var(--cream);
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        font-family: var(--text);
        color: white;
        margin-bottom: 1em;
    }

    section h1 {
        font-family: var(--display);
        /* text-decoration: underline; */
        color: var(--white);
        padding: 5px;
        border-radius: 15px;
        width: 60%;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
        list-style: none;
    }

    /* specific */
    body {
        background-color: var(--blue);
    }

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        background-color: var(--cream)
    }

    .header img {
        grid-column: 1/ span 1;
        margin-top: 20%;
        margin-left: 5vw;
        height: 100px;
    }

    header h1 {
        grid-column: 2/ span 3;
        grid-row: 1;
        font-size: 45px;
        font-family: var(--display);
        text-align: center;
        margin-right: 25%;
    }

    .navigation {
        grid-column: 4 /span 4;
        grid-row: 1/ span 1;
        width: 80%;
    }

    .navigation ul {
        display: flex;
        align-items: center;
        height: 100%;

    }

    .navigation ul li {
        display: block;
        width: 100%;
        margin-right: 15px;
        text-align: center;
    }

    .navigation a:hover,
    .navigation a:active {
        color: var(--white);
        background-color: var(--black);
        border-radius: 10px;
    }

    .navigation ul li a {
        color: var(--black);
        font-family: var(--text);
        border: 2px solid var(--black);
        border-radius: 10px;
        padding: 10px;
    }

    #nav-home-button {
        font-size: 25px;
        text-align: center;
    }

    #nav-order-button {
        font-size: 25px;
        text-align: center;
    }

    #nav-discover-button {
        font-size: 25px;
        text-align: center;
    }

    #nav-about-button {
        font-size: 25px;
        text-align: center;
    }

    /* #nav-about-button a{
        
    } */

    main {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .hero-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        justify-items: center;
        margin-bottom: 1em;
    }

    .hero-img-container {
        grid-column: 1/span 3;
        grid-row: 1/ span 3;
    }

    .hero-img {
        width: 100%;
        height: auto;
    }

    .order-button {
        position: absolute;
        margin-top: 120px;
        background-color: var(--cream);
        color: var(--black);
        padding: 10px;
        padding-right: 15px;
        border-radius: 10px;
        border: none;
        font-family: var(--display);
        font-size: 30px;
        border: 2px solid var(--black);
    }

    .order-button:hover {
        background-color: var(--orange);
        color: black;
    }

    .specialty-drinks-home{
        color: var(--black);
    }

    #specialty-heading{
       color: var(--black);
       border-bottom: 1px solid var(--black);
       border-radius: 0;
    }

    .specialty-drink-background{
        background-image: url('../images/oranges-banner.webp');
        background-size: cover;
        background-position: center;
        width: 80%;
        margin: 0 auto;
    }

    .specialty-drinks-container{
        background-color: rgba(255, 255, 255, 0.842);
        border-radius: 10px;
        padding-bottom: 10px;
        width: 60%;
        margin: 0 auto;
    }

    .summary h1 {
        background-color: #ffcb77;
        color: black;
        width: 90%;
        text-decoration: none;
        padding: 15px;
        margin-bottom: 10px;
    }

    .summary p {
        font-size: 20px;
    }

    .summary p:nth-child(1) {
        padding-bottom: 10px;
        border-bottom: 2px solid var(--orange);
    }

    .weather {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .weather h1 {
        grid-column: 1/span 2;
        color: var(--black);
        background-color: var(--cream);
    }

    .weather p {
        font-weight: var(--text);
        font-size: 25px;
    }

    .weather img,
    .forecast img {
        margin: 0 auto;
        border-radius: 15px;
        padding: 10px;
        height: 90px;
    }

    .forecast {
        display: flex;
    }

    .forecast h1 {
        width: 100%;
    }

    /* .forecast div {
        display: block;
        font-size: 20px;
        max-width: 150px;
    } */

    .forecast div {
        display: grid;
        max-width: 300px;
        grid-template-columns: 1fr 1fr;
        border: 5px solid var(--cream);
        border-radius: 15px;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        font-family: var(--text);
        color: white;
        margin-bottom: 1em;
        margin-right: 10px;
        margin-left: 10px;
    }

    .forecast h1 {
        width: 100%;
    }

    .forecast h3 {
        grid-column: 1/span 2;
        color: var(--black);
        background-color: var(--cream);
        font-family: var(--display);
        border-radius: 15px;
    }

    /* order form */

    .order-body {
        margin: 0;
    }

    .order-page-main {
        display: grid;
        margin-bottom: 1em;
    }

    .custom-text {
        font-family: var(--display);
        color: var(--cream);
        border-radius: 10px;
        width: 60%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    .custom-text h1 {
        font-size: 3rem;
        margin-top: 1vh;
        margin-bottom: 0;
    }

    .custom-text h2 {
        font-size: 4em;
        margin-top: 0;
        margin-bottom: 1vh;
    }

    .order-page-main section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background-div {
        background-image: url('../images/fruit-pile.webp');
        background-size: cover;
        background-position: center;
        width: 60%;
        margin: 0 auto;
    }

    #orderForm {
        font-family: var(--text);
        max-width: 70%;
        text-align: left;
        padding: 10px;
        max-width: min-content;
        background-color: rgba(255, 255, 255, 0.917);
        color: var(--black);
    }

    #orderForm input {
        border-radius: 15px;
        border: 1px solid black;
        margin-bottom: 15px;
    }

    #selectOption1 {
        font-family: var(--text);
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 1em;
    }

    #selectOption2 {
        font-family: var(--text);
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 1em;
    }

    #selectOption3 {
        font-family: var(--text);
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 1em;
    }

    #specialInstructions {
        max-width: 300px;
    }

    #submit-order {
        font-family: var(--display);
        background-color: var(--orange);
        border: 1px solid var(--black);
        padding: 10px;
        border-radius: 15px;
        font-size: 20px;
        width: 100%;
    }

    /* confirmation */

    .confirmation-main {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: var(--text);
    }

    #confirmationName {
        font-family: var(--display);
        color: var(--cream);
        border-bottom: 1px solid var(--black);
    }

    .confirmation-info {
        color: var(--white);
    }

    #details-heading {
        background-color: var(--orange);
        padding: 10px;
        border-radius: 15px;
    }

    .confirmation-details {
        background-color: rgba(255, 255, 255, 0.937);
        padding: 10px;
        border-top: 2px dotted var(--black);
        margin-bottom: 1em;
        color: var(--black);
    }

    .confirmation-details h3 {
        border-top: 2px solid var(--black);
        border-bottom: 2px solid var(--black);
    }


    .about-main{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 20px;

    }

    .about-main section h2{
        font-family: var(--display);
        background-color: var(--orange);
        color: var(--black);
        padding: 5px;

    }

    .about-main .california-water{
        width: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    .california-water-img{
        max-width: 60%;
    }

    .about-main .california-street{
        width: 100%;
        border-radius: 15px;
        margin-bottom: 1em;
    }

    .california-street-img{
        max-width: 60%;
    }

    .about-map{
        margin-top: 1em;
        margin-bottom: 2em;
        width: 80%;
    }

    .about-section4{
        width: 70%;
        margin: 0 auto;
    }

    .about-section4 h2{
        font-family: var(--display);
        background-color: var(--orange);
        color: var(--black);
        padding: 5px;
    }

    .resource-main{
        text-align: center;
        background-color: var(--white);
        max-width: 80%;
        height: 70vh;
        margin: 0 auto;
    }

    .resource-links{
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.858);
        height: 70vh;
        max-width: 60%;
        margin: 0 auto;
    }
    .resource-links a{
        padding: 15px;
        font-family: var(--text);
        color: var(--black);
    }

    .resource-links h1{
        font-family: var(--display);
    }


    footer {
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-family: var(--text);
        color: var(--white);
        border-top: 2px solid var(--cream);
        padding: 10px;
        padding-bottom: 15px;
    }

    footer .social-media-links {
        grid-column: 2/ span 1;
        display: block;
    }

    .social-media-links img {
        width: 40px;
        padding: 10px;
    }

    .contact-info {
        grid-column: 1/ span 1;
        grid-row: 1/ span 2;
        height: 100%;
    }

    footer .resources {
        grid-column: 2/ span 1;
        grid-row: 2/ span 1;
        padding: 10px;
        background-color: var(--cream);
        color: black;
        border-radius: 15px;
        width: 70%;
    }

    .last-modified {
        grid-column: 3/ span 1;
        grid-row: 1/ span 2;
    }
}