@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media screen and (max-width: 650px) {

    :root {
        --body_background_primary: #01161E;
        --body_background_secondary: #FAF8DC;
        --body_background_tertiary: #124559;
        --text_color_primary: white;
        --text_color_secondary: black;
        --link_color: #DE1A1A;
        --text_font_family: 'Roboto', 'sans-serif';
    }

    body {
        font-family: var(--text_font_family);
        color: var(--text_color_primary);
        background-color: var(--body_background_primary);
    }

    header {
        display: block;
        background-color: var(--body_background_primary);
        color: var(--text_color_primary);
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        font-size: 25px;
    }
    /* start of hamburger */
    #menu{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: #eee;
        color: #000;
    }
    #menu::before {
        content: "≡";
    }
    
    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 760px;
    }
    
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: white;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    
    .navigation a:hover, navigation a:active {
        color: white;
        background-color: black;
    }
    nav {
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: var(--body_background_tertiary);
        color: var(--text_color_secondary);
        font-size: 20px;
    }
    .show li {
        display: block;
    }
    
    #menu.show::before {
        content: "X";
    }    
/* end of hamburger */
    a {
        text-decoration: underline;
    }

    .photo {
        /* max-width: 50%; */
        border-radius: 10px;
        border: 5px solid white;
        
    }

    h1 {
        margin: 0;
    }

    main {
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        background-color: var(--body_background_secondary);
        color: var(--text_color_secondary);
        font-size: 25px;
    }

    h2 {
        background-color: var(--body_background_primary);
        color: var(--text_color_primary);
        padding: 10px;
        border-radius: 50px;

    }

    section {
        display: block;
        justify-content: center;
    }

    h3 {
        background-color: var(--body_background_tertiary);
        color: var(--text_color_primary);
        padding: 15px;
    }

    ul {
        display: inline-block;
        text-align: left;
        list-style: none;
        text-align: center;
    }
    h3::before{
        content: "✅";
    }

    ul a {
        color: var(--text_color_secondary);
    }

    footer {
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        background-color: var(--body_background_primary);
        color: var(--text_color_primary);
        font-size: 20px;
    }
}