@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media screen and (min-width: 650px) {

    :root {
        --body_background_primary: #01161E;
        --body_background_secondary: #FAF8DC;
        --body_background_tertiary: #124559;
        --text_color_primary: white;
        --text_color_secondary: black;
        --link_color: #DE1A1A;
        --text_font_family: 'Roboto', 'sans-serif';
    }

    body {
        font-family: var(--text_font_family);
        color: var(--text_color_primary);
        background-color: var(--body_background_primary);
    }

    header {
        display: block;
        background-color: var(--body_background_primary);
        color: var(--text_color_primary);
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        font-size: 30px;
    }

    .photo {
        max-width: 20%;
        border-radius: 10px;
        border: 5px solid white;
    }

    h1 {
        margin: 0;
    }
    nav{
        background-color: var(--body_background_tertiary);
    }
    nav ul{
        display: flex;
        /* width: 100%; */
        font-size: 20px;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        text-decoration: underline;
        color: var(--text_color_primary);
    }

    main {
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        background-color: var(--body_background_secondary);
        color: var(--text_color_secondary);
        font-size: 25px;
    }

    h2 {
        background-color: var(--body_background_primary);
        color: var(--text_color_primary);
        padding: 10px;
        border-radius: 50px;

    }

    section {
        display: block;
        justify-content: center;
    }

    h3 {
        background-color: var(--body_background_tertiary);
        color: var(--text_color_primary);
        padding: 15px;
    }
  
    ul {
        display: flex;
        text-align: left;
        list-style: none;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    ul a {
        color: var(--text_color_secondary);
        padding: 10px;
    }

    footer {
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        background-color: var(--body_background_primary);
        color: var(--text_color_primary);
        font-size: 20px;
    }
}