@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media screen and (min-width: 650px) {

    :root {
        --dark: #01161E;
        --light: rgb(255, 255, 255);
        --grey: #b5b5af;

        --primary: #124559;
        --white: white;
        --black: black;
        --text_font_family: 'Roboto', 'sans-serif';
    }

    body {
        font-family: var(--text_font_family);
        color: var(--white);
        background-color: var(--grey);
    }

    header {
        display: grid;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 1fr, 1fr;
        background-color: var(--dark);
        color: var(--white);
        padding-top: 1%;
        padding-bottom: 1%;
        /* text-align: center; */
        font-size: 25px;
    }
    .profile-photo{
        grid-column: 4 /span 1;
        grid-row: 1 /span 2;
        width: 150px;
        border-radius: 20px;
        left: 0;
    }
    header h1{
        grid-column: 2 /span 2;
        margin-top: 1em;
    }
    nav{
        background-color: var(--primary);
    }
    nav ul{
        display: flex;
        /* width: 100%; */
        font-size: 20px;
        list-style-type: none;
        justify-content: center;
        align-items: center;
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        text-decoration: underline;
        color: var(--white);
    }
    .hero-container{
        display: grid;
        width: 100%;
        /* grid-template-columns: 1fr,1fr,1fr;
        grid-template-rows: 1fr,1fr,1fr; */
        /* align-items: center;
        justify-items: center; */
      
    }
    /* .hero-img-container {
        grid-column: 1/ span 3;
        grid-row: 1 / span 3;
    } */

    .hero-img{
        width: 100%;
        height: auto;
    }

    .hero-container .label{
        position: absolute;
        /* grid-column: 2/ span 1;
        grid-row: 2 / span 1; */
        z-index: 999;
        background-color: var(--black);
        color: white;
        margin-left: 30px;
        font-size: 50px;
    }


    main {
        margin-left: 10vw;
        margin-right: 10vw;
        display: grid;
        column-gap: 1.5em;
        grid-template-columns: 1fr,1fr,1fr;
        text-align: center;
        background-color: var(--grey);
        color: var(--black);
        font-size: 25px;
    }

    section {
        display: block;
        justify-content: center;
        border: 2px solid var(--black);
        border-radius: 10px;
        margin-top: 1em;
        color: var(--black);
        background-color: var(--light);
    }
    .title-card {
        background-color: var(--dark);
        color: var(--white);
        padding: 10px;
        border-radius: 50px;
        font-size: 25px;
    }

    h3 {
        background-color: var(--primary);
        color: var(--white);
        padding: 15px;
    }
    .title-card{
        grid-column: 1/span 3;
    }
    .activities-card{
        grid-column: 1 /span 2;
    }

    .activities-card p{
        margin: 0;
    }

    .activities-card a{
        color: var(--black);
        text-decoration: none;
    }
    h3::before{
        content: "✅ ";
    }
    .information-card{
        grid-column: 3/ span 1;
    }
    .map-card{
        grid-column: 1/ span 3;
    }
    .map-card iframe{
        width: 100%;
        height: 40vh;
    }

    /* join form page */
    .join-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join-benifits{
        grid-column: 1 /span 1;
        color: var(--black);
    }

    .join-form-container{
        grid-column: 2/ span 1;
    }

    footer {
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        background-color: var(--primary);
        color: var(--white);
        font-size: 20px;
        margin-top: 1em;
    }
}